html {
    font-family: Helvetica;
    background: rgba(255,49,49,1);
}

.main-container {
    max-width: 1100px;
    background-color: #28282B;
    color: #ddd;
    position: relative;
    margin: 50px auto;
    padding: 20px 50px;
    box-shadow: 0px 0px 10px 2px rgba(0,0,0,0.75);
}

.bold {
    font-weight: bold;
}

/* Header */
.header {
    text-align: center;
}

.main-title {
    font-size: 40px;
}

.main-paragraph {
    font-style: italic;
}

/* Imagem Destaque */
.featured-image {
    text-align: center;
    margin-top: 30px;
}

.featured-image figcaption {
    font-style: italic;
}

/* Biografia */
.biografia {
    padding: 20px 0;
    margin: 20px 0;
    border-top: 1px dashed #ddd;
    border-bottom: 1px dashed #ddd;
}

.biografia .italico {
    font-style: italic;
}

/* Quotes */
.quote-container {
    background-color: rgba(255,49,49,1);
    padding: 30px;
    box-shadow: 0px 0px 5px 0px rgba(128,128,128,1);
}

.quote-container blockquote {
    font-weight: bold;
    font-size: 30px;
}

.quote-container p {
    font-style: italic;
}

/* Curiosidades */
.curiosities-container {
    padding: 25px 0;
    margin: 25px 0;
    border-top: 1px dashed #ddd;
    border-bottom: 1px dashed #ddd;
}

.curiosities-container li {
    height: 30px;
}

/* Imagem Bold */
.img-bold {
    font-weight: bold;
    text-align: center;
    font-style: italic;
    font-size: 10px;
}

/* Links */
.links {
    color: rgba(255,49,49,1);
    text-decoration: none;
}

.links:hover {
    text-decoration: underline;
}

/* Ultima Frase */
.ultima-frase {
    text-align: center;
    padding: 50px;
    font-style: italic;
}